<div class="mt-5 p-3 d-flex flex-column align-items-center flex-md-row gap-3 gap-md-5 glass-background rounded">
  <div class="input-group flex-nowrap width-300">
    <span class="input-group-text" id="addon-wrapping">Пошук</span>
    <input id="search-filter" type="text" class="form-control" placeholder="" />
  </div>
  <select
    id="urgency-filter"
    class="form-select w-200px width-200"
    aria-label="Default select example"
  >
   <option selected value="Терміновість">Терміновість (усі)</option>
    <option value="Висока">Висока</option>
    <option value="Середня">Середня</option>
    <option value="Низька">Низька</option>
  </select>
  <!-- <div class="form-check flex-shrink-0">
    <label class="form-check-label" for="status-filter"> Візит відбувся </label>
    <input
      class="form-check-input"
      type="checkbox"
      value=""
      id="status-filter"
    />
  </div> -->

  <select
  id="status-filter"
  class="form-select w-200px width-200"
>
  <option selected value="all">Усі візити</option>
  <option value='true'>Відбувся</option>
  <option value='false'>Не було ще</option>
</select>
</div>
