<header>
  <nav class="navbar navbar-expand-sm navbar-light glass-background">
    <div class="container-fluid px-5">
      <a class="navbar-brand p-0" href="/"
        ><img id="hero-img" width="60" alt="logo"
      /></a>
      <button
        class="navbar-toggler"
        type="button"
        data-bs-toggle="collapse"
        data-bs-target="#navbarNav"
        aria-controls="navbarNav"
        aria-expanded="false"
        aria-label="Toggle navigation"
      >
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse flex-grow-0" id="navbarNav">
        <ul class="navbar-nav flex-row gap-3 mt-2 justify-content-end">
          <li class="nav-item">
            <button
              id="btn-login"
              type="button"
              class="btn btn-success text-nowrap"
              data-bs-toggle="modal"
              data-bs-target="#exampleModal"
            ></button>
          </li>
        </ul>
      </div>
    </div>
  </nav>
</header>
