<div class="modal fade" id="modalVisitEdit" tabindex="-1" aria-labelledby="modalVisitEdit" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="modalVisitLabel">Редагувати картку візиту</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">

          <form id="form-visit-edit">
asasssssssssssssssss
            <button disabled type="submit" class="btn btn-primary mt-5">Submit</button>
          </form>
        </div>
      </div>
    </div>
  </div>