<div class="modal fade" id="modalVisit" tabindex="-1" aria-labelledby="modalVisit" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="modalVisitLabel">Create visit</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <select id="select-doctor" class="form-select mb-5" aria-label="Default select example">
            <option selected disabled>Choose one</option>
            <option value="Кардіолог">Кардіолог</option>
            <option value="Стоматолог">Стоматолог</option>
            <option value="Терапевт">Терапевт</option>
          </select>
          <form id="form-field-visit">


          </form>
        </div>
      </div>
    </div>
  </div>