@import "~bootstrap/scss/bootstrap";

li,
ul {
  list-style: none;
}

html,
body {
  height: 100%;
}

body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
  background-image: url(../images/radiant-gradient.svg);
  background-position: center; /* Center the image */
  background-repeat: no-repeat; /* Do not repeat the image */
  background-size: cover;
  background-attachment: fixed;
  overflow-y: scroll;
}

.glass-background {
  background: rgba(255, 255, 255, 0.3);
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
  border: 1px solid rgba(255, 255, 255, 0.3);
}

.glass-background-card {
  background: rgba(255, 255, 255, 0.5);
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
  border: 1px solid rgba(255, 255, 255, 0.3);
}

.width-200 {
  max-width: 200px;
}

.width-300 {
  max-width: 350px;
}

.width-400 {
  width: 400px;
}

.grid-list-visit {
  display: grid;
  gap: 15px;
}

button:disabled {
  border: none;
}

.urgent-width {
  width: 25px;
  height: 25px;
  border-radius: 50%;
}

.done {
  top: 15px;
  right: 0;
  z-index: 10;
}
